body {
  font-family: "Arvo";
  color: #444;
}

h1 {
  margin: 35px 0 15px 0;
  /* border: 2px solid firebrick; */
  text-align: center;
  font-weight: normal;
}

.main-container {
  display: flex;
  /* flex-direction: column; */
  margin: auto;
  /* border: 2px solid firebrick; */
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 1200px;
  height: 400px;
}

.technical-container,
.basic-container {
  display: flex;
  flex-direction: column;
  flex-basis: 35%;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 35px;
  /* gap: 20px; */
  /* padding: 30px; */
  padding-left: 35px;
  padding-right: 35px;
  height: 75%;
}

.technical-container {
  /* flex: 0 0 auto; */
  background-color: #f6fde4;
  border: 2px solid #b2d77b;
}

.basic-container {
  border: 2px solid #ebebeb;
}

.container-header {
  font-size: 25px;
}

.regular-text {
  display: flex;
  /* border: 1px solid firebrick; */
  /* height: 80px; */
  /* justify-content: space-evenly; */
  line-height: 1.6em;
  font-size: 17px;
}

a:link {
  text-decoration: none;
  color: #444;
}

.technical-button,
.basic-button {
  border-radius: 4px;
  padding: 11px 23px;
}

.technical-button {
  border: 1px solid #c45e1b;
  color: white;
  background-color: #e27730;
}

.basic-button {
  border: 1px solid #dcdcdc;
  color: #666;
  background-color: #f5f5f5;
}

/* a:visited */

/* Inspired from https://wpforms.com/contact/ */
